@charset "utf-8";
/*footer样式*/
footer{
	height:46px;
}
.footer-left{
	float:left;
	height:46px;
	line-height:46px;
	color:#323232;
	margin-left:100px;
}
footer img{
	float:left;
}
.footer-right{
	float:left;
	height:46px;
	line-height:46px;
	color:#323232;
}